name: Google Cloud Storage Build

env:
  BUCKET: cb-frontend

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Node LTS Install
        uses: actions/setup-node@v2
        with:
          node-version: "lts/*"

      - name: Install Node Dependencies
        run: yarn install

      - name: Build production bundle
        run: yarn build

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true

      - name: Upload dist folder to the bucket
        run: gsutil -m rsync -r ./dist gs://"$BUCKET"

      # Vite already generates hashes for static files to prevent problems with caching
      - name: Set the cache control header for static assets
        run: gsutil -m setmeta -h "Cache-Control:public, max-age=1576800" gs://"$BUCKET"/**/*.{css, js, svg}

      - name: Set the cache control header for the index.html file (no-cache, no-store)
        run: gsutil -m setmeta -h "Cache-Control:no-cache, no-store" gs://"$BUCKET"/index.html
