# This is a basic workflow to help you get started with Actions

name: CI

env:
  BUCKET: cb-frontend

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: NodeLtsInstall
        uses: actions/setup-node@v1
        with:
          node-version: 16.13.0
          
      - name: Install deps
        run:
          yarn install
          
      - name: vite build
        run:
          yarn build --base="https://storage.googleapis.com/cb-frontend/"
          
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true
          
      - name: Upload
        run: gsutil -m rsync -r ./dist gs://"$BUCKET"
        
      - name: Publish
        run: gsutil -m acl ch -R -u AllUsers:R gs://"$BUCKET"
        
      - name: Cache 1
        run: gsutil setmeta -h "Cache-Control:no-cache, no-store" gs://"$BUCKET"/index.html
